<p>
  Welcome, please enter a url to shorten
</p>

<p>
  <%= form_tag(:method => :post) do %>
    <%= text_field_tag(:url, "http://") %>
    <%= submit_tag("Shorten") %>
  <% end %>
</p>


<% if true #@short_url %>
  <hr />
  <p>
    Long url: <%= @long_url %>
  </p>

  <p>
    Short url: <%= @short_url %>
  </p>
<% end %>
